.markdown-body {
	color: #ccc;
}

.markdown-body a {
	color: #4f8cc9;
}

.markdown-body li > p {
	margin-top: 0px;
	margin-bottom: 0px;
}

/* set badge with website link to not show within website */
img[src*="rom.dog"] {
	display: none;
}
